.post-list {
  margin-top: 50px;
}

.post-list-item {
  display: flex;
  flex-direction: row;
}

.post-list-item-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  height: 100px;
  width: 150px;
  margin: 5px;

}

.post-list-item-image img {
  height: 100px;
}

.post-list-item-info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .post-list-item-image {
    height: 50px;
    width: 50px;
  }
}